<h1 class="text-center">Gestor de Anotações</h1>

<form method="POST" action="/">
  <div class="filter">
    <label for="filterTag" class="form-label">Filtro por Tag:</label>
    <select id="filterTag" name="tag" class="form-select" style="width: 150px; margin-left: 10px;">
      <option value="Todas" name="Todas">Todas</option>
      <option value="Pessoal" name="pessoal" {{#if pessoal}}selected{{/if}}>Pessoal</option>
      <option value="Trabalho" name="trabalho"  {{#if trabalho}}selected{{/if}}>Trabalho</option>
      <option value="Curso" name="curso" {{#if curso}}selected{{/if}}>Curso</option>
      <option value="Lazer" name="lazer" {{#if lazer}}selected{{/if}}>Lazer</option>
    </select>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;"><i class="bi bi-filter"></i></button>
  </div>
</form>

{{#if anotacoes.length}}
<div class="container mt-4">
  <div class="row text-center" id="cabecalho">
    <div class="col-lg-2 d-none d-lg-block linha">Tag</div>
    <div class="col-lg-8 col-md-6 col-8 linha ">Anotação</div>
    <div class="col-lg-2 col-md-6 col-4 linha">Operações</div>
  </div>

  {{#each anotacoes}}
  <div class="row">
    <div class="col-lg-2 d-none d-lg-flex align-items-center justify-content-center linha">
      {{#if this.pessoal}}
      <a href="/anotacao/alteratag/{{this._id}}" class=" me-2 iconeTAG" id="tag-icon">
        <i class="bi bi-person"></i> pessoal
      </a>
       {{/if}}
      {{#if this.trabalho}}
      <a href="/anotacao/alteratag/{{this._id}}" class=" me-2 iconeTAG" id="tag-icon">
        <i class="bi bi-pc-display-horizontal"></i> trabalho
      </a>
       {{/if}}
      {{#if this.curso}}
      <a href="/anotacao/alteratag/{{this._id}}" class=" me-2 iconeTAG" id="tag-icon">
        <i class="bi bi-journals"></i> curso
      </a>
       {{/if}}
      {{#if this.lazer}}
      <a href="/anotacao/alteratag/{{this._id}}" class=" me-2 iconeTAG" id="tag-icon">
        <i class="bi bi-airplane"></i> lazer
      </a>
       {{/if}}
    </div>

    <div class="col-lg-8 col-md-6 col-8 d-flex linha">
      {{this.titulo}}
    </div>
    <div class="col-lg-2 col-md-6 col-4 d-flex align-items-center justify-content-center linha">
      <a href="/anotacao/consulta/{{this._id}}" class=" mx-1"><i class="bi bi-eye" id="olhoConsulta"></i></a>
      <a href="/anotacao/altera/{{this._id}}" class="mx-1"><i class="bi bi-pencil" id="lapisAlterar"></i></a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{this._id}}" class="mx-1"><i
          class="bi bi-trash" id="lixoDeletar"></i></a>
    </div>
  </div>

  <div class="modal fade" id="deleteModal{{this._id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{this._id}}"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel{{this._id}}">Atenção!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Você deseja realmente excluir a Anotação "{{this.titulo}}"?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não, cancele.</button>
          <a href="/anotacao/deleta/{{this._id}}"><button class="btn btn-danger">Sim, delete.</button></a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<p class="text-center text-muted">Ainda não há anotações.</p>
<p class="text-center"><a href="/anotacao/cria" class="btn btn-secondary"><i class="bi bi-pencil-square"></i> Criar
    Anotação</a></p>
{{/if}}