<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>{{titulo_pagina}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/logo_anotacoes.png" alt="Logo" width="50" height="50" class="d-inline-block align-left">
        <span>Anotações</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre"><i class="bi bi-info-circle"></i> Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/anotacao/cria"><i class="bi bi-pencil-square"></i> Criar Anotações</a>
          </li>
          <li class="nav-item">
             <a class="btn btn-link nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanva">
          <i class="bi bi-funnel"></i> Estatisticas
          </li>
        </ul>
      </div>
      </form>

    </div>
    </div>
  </nav>

 


  <div class="container mt-4">
    {{{body}}}
  </div>

  <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
 <form action="/" method="post">
    <div class="offcanvas offcanvas-end" id="offcanva">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title">Estatisticas da Aplicação</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
      </div>  
      <div class="offcanvas-body">


        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Anotações Criadas:</b> {{notasCriadas}} </li>
          <li class="list-group-item"><b>Tags Utilizadas:</b> {{tagsUtilizadas}} </li>
          <li class="list-group-item"><b>Tag mais utilizada:</b> {{maisUtilizada}}</li>
          <li class="list-group-item">
            <b>Quantidade com a Tag Pessoal:</b> {{qtdPessoal}}
          </li>
           <li class="list-group-item">
            <b>Quantidade com a Tag Lazer:</b> {{qtdLazer}}
          </li>
          <li class="list-group-item">
            <b>Quantidade com a Tag Trabalho:</b> {{qtdTrabalho}}
          </li>
           <li class="list-group-item">
            <b>Quantidade com a Tag Curso:</b> {{qtdCurso}}
          </li>
        </ul>
      </div>
    </div>
  </form>

</html>